<h1>Create Sub</h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<form action="<%= subs_url %>" method="post">
  <%= auth_token %>

  <label>
    Title
    <input type="text" name="sub[title]" value="<%= @sub.title %>"%>
  </label>

  <label>
    Description
    <input type="textarea" name="sub[description]" value="<%= @sub.description %>">
  </label>

  <button>Create sub</button>

</form>