<h1><%= @post.title %></h1>

<a href="<%= edit_post_url(@post) %>">Edit Post</a>

<h2>Subs</h2>
<ul>
  <% @subs.each do |sub| %>
  <li>
    <%= sub.title %>
  </li>
  <% end %>
</ul>
<br>

<a href="<%= new_post_comment_url(@post.id) %>">New Comment</a>

<h3>Comments</h3>
<ul>
<% @comments[nil].each do |c1| %>
  <li>
    <%= c1.content %> |
    <%= c1.author.username%> |
    <%= c1.created_at%>
    <a href="<%= new_comment_comment_url(c1) %>">Reply</a>
  </li>
  <%= render "comments", c1: c1 %>
<% end %>
</ul>


<a href="<%= user_url(@post.author) %>">Back to User</a>